h3{
	color: purple; text-decoration: underline;
}

body{
	background-image:url("../documents/Ledzeppelin.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-position:top;
	background-size:35%;
}

blockquote{
	min-height:500px;
}